body{
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Rubik", sans-serif;
}
.container-inicio{
    width: 100%;
    max-width: 1440px;    
    background-color: #E30000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 750px;
}
.background-inicio-logo{
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.background-inicio-logo img{
    width: 100%;
    max-width: 625px;
}
.inicio-mobile{
    display: none;
}
.background-inicio{
    background: url(imagens/background-inicio.svg);
    height: 750px;
    display: flex;
    align-items: center;
}
.background-inicio-texto{
    width: 85%;
    color: #FFF;
}
.background-inicio-texto h1{
    font-size: 48px;
    margin: auto;
    display: flex;
}
.container-projeto{
    width: 100%;
    max-width: 1296px;
    height: 353px;
    margin-top: 64px;
    border-radius: 16px;
    color: #FFF;
    display: flex;    
    background: url(imagens/rectangle-projeto.svg) #060606;    
    background-size: cover;
    position: relative;
}
.filter-play{
position: absolute;
width: 100%;
}
.wrapper-projeto{
    z-index: 1;
    width: 60%;
    padding: 32px 32px 32px 64px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.wrapper-play{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.wrapper-play div{    
    border: 1px solid #FFFFFF29;
    width: 581px;
    height: 290px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-circuitos{
    width: 100%;
    max-width: 1440px; 
    margin-top: 64px;
}
.container-circuitos .circuitos{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.circuitos h2{
    margin: 0px;
}
.circuitos-title p{
margin: 16px 0px 0px 0px;
}
.circuitos-button{
    font-size: 16px;
    display: flex;
    align-items: center;
}
.circuitos-button button{    
    padding: 15px 24px;
    color: #060606;
    margin-right: 8px;
    background-color: transparent;
    border: none;
    font-weight: 500;
    font-family: "Rubik", sans-serif;
}
.circuitos-button .button-selected{
    background-color: #060606;
    color: #FFF;
    border-radius: 8px;
}
.container-cards{
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}
.cards-centauro{
    width: 300px;
    height: 427px;
    border-radius: 16px;
    margin-top: 40px;
    position: relative;
}
.cards-centauro img{
    width: 100%;
    border-radius: 16px;
}
/* Esgotado */
.container-cards .esgotado img{
    filter: grayscale(100%);
}
.esgotado .cards-title button{
    background-color: #000000;
}

 /* Realizado */
.container-cards .realizado img{
    filter: grayscale(100%);
}
.realizado .cards-title button{
    background-color: #000000;
}

/* Encerrado */
.container-cards .encerrado{
    border: 2px solid #1DBE24;
}
.container-cards .encerrado img{
    filter: grayscale(100%);
}
.encerrado .cards-title button{
    background-color: #1DBE24;
}
.cards-title{
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: #FFF;
    background: url(imagens/filter-event.png) no-repeat;
    background-size: cover;
    border-radius: 0px 0px 16px 16px;
}
.cards-title button{
    border: none;
    background-color: #E30000;
    color: #FFF;
    width: 182px;
    height: 48px;    
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    border-radius: 8px;
    text-transform: uppercase;
    cursor: pointer;
    margin-bottom: 16px;
}
.cards-title button:hover{
    box-shadow: 0px 1px 12px 0px #0000007A;
}
.cards-title strong{
    font-size: 14px;
    font-weight: 500;
    line-height: 16.59px;
}
.cards-title h3{
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
}
.cards-title p{
    margin: 8px 0px;
}
.cards-title p:last-child{
    margin-bottom: 24px;
}
@media (max-width: 768px){
    .background-inicio-logo{
        width: calc(100% - 40px);
        padding: 70px 20px 0px 20px;
    }
    .container-inicio{
        flex-direction: column;
    }
.background-inicio{
    background:none ;
}
.inicio-mobile{
    display: flex;
}
.image-inicio-desktop{
    display: none;
}
}